body {
    padding-top: 50px;
}
.mainNav{
    background-color: #FFE132;
    border-color: #FFE132;
    font-weight: 500;
}
.navbar-default .navbar-nav>li>a{
    color:#333;
}
.navbar-default .navbar-brand {
  color:#333;  
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgb(0, 0, 100);
    color: floralwhite;
}
.navbar-default .navbar-nav>li>a:hover {
    color: black;
    text-shadow: -2px -2px 15px #2B2B2B;    
}
.navbar-default .navbar-brand:hover {
    color: black;
    text-shadow: -2px -2px 20px #2B2B2B;
    
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #960000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgb(0,0,100);
}

.vcenter {
    padding: 100px 0;
    }

.jumbotron {
    background-color: rgb(0, 0,100);
    height: 300px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron h1, h3 {
    margin: 0 15px;
}
.jumbotron p {
    font-size: 16px;
    font-weight: 500;
}
#contactCarousel img {
    height=300px;
}
#jumboBtn {
    position:sticky;
    margin-top: 98px;
    
}
.center-block {
  width: 100px;
  display: block;
  margin-left: 20px;
  margin-right: auto;
}

.left-col-img-small {  
    background: url(../images/music_in_the_park.gif) no-repeat;  /* This is for the current concert flyer. Copy a .png or .jpeg file in the images folder and then update the name here  */
    background-position: center center;
    background-size:contain;
    height: 400px;
}
.left-col-img {  
    background: url(../images/music_in_the_park.gif) no-repeat; /* This is for the current concert flyer. Copy a .png or .jpeg file in the images folder and then update the name here  */
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    
    height: 400px;
}
.mission {
    text-shadow: -1px -1px 1px black;
    text-size: 1.2em;
    letter-spacing: .2em;
}
footer {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color:#960000;
    color: #fff;
}
footer a {
    color:#fff;
}
.band-pic {
    height: 400px;
    width: 640;
    margin-top: 20px;
    background-image: url(../images/399th_band.jpg);/*change picture on history.html*/
    background-size: contain;
    background-repeat: no-repeat;
    
}
.his-main h2 {
    font-size: 40px;
}
.his-main {
    font-family: 'Merriweather', serif; 
    font-size: 1.6em;
}
.small-device-contact {
    font-size: 1.2em;
    text-align-last: center;
}
.contact-modal-paragraph{
    font-size: 1.2em;
}
.contact-modal-header {
    font-size: 1.4em;
}
.ceremonial-music {
    font-family: 'Merriweather', serif; 
    font-size: 1.2em;   
}
.btn-ceremonial {
    background-color: white;
    border: none;
    height: 180px;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}
.btn-ceremonial:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.btn-ceremonial h4 {
    font-size: 1.4em;
}
.btn-contact {
   background-color: white;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 150px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;

}
.btn-contact:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-command {
    background-color: white;
    padding: 0;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    transition: all 0.3s;
}
.btn-command:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-command:active {
    border:none;
}

