body {
    padding-top: 50px;
    
}
.vcenter {
    padding: 100px 0;
    }
.jumbotron {
    background-color: rgb(0, 0,100);
    height: 300px;
    color: #fff;
}
.jumbotron h1, h3 {
    margin: 0 15px;
}
.jumbotron p {
    font-size: 16px;
    font-weight: 500;
}
#contactCarousel img {
    height=300px;
}
#jumboBtn {
    position:sticky;
    margin-top: 98px;
    
}

.center-block {
  width: 100px;
  display: block;
  margin-left: 20px;
  margin-right: auto;
}

.left-col-img-small {  
    background: url(../images/christmas2015.jpg) no-repeat;  /* This is for the current concert flyer. Copy a .png or .jpeg file in the images folder and then update the name here  */
    background-position: center center;
    background-size:contain;
    height: 400px;
}
.left-col-img {  
    background: url(../images/christmas2015.jpg) no-repeat; /* This is for the current concert flyer. Copy a .png or .jpeg file in the images folder and then update the name here  */
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    
    height: 400px;
}
.mission {
    text-shadow: -1px -1px 1px black;
    text-size: 1.2em;
    letter-spacing: .2em;
}
footer {
    margin-top: 20px;
    height: auto;
    width: auto;
    background-color:#960000;
    color: #fff;
}
footer a {
    color:#fff;
}
.band-pic {
    height: 400px;
    width: 640;
    margin-top: 20px;
    background-image: url(../images/bandPic.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.his-main h2 {
    font-size: 40px;
}
.his-main {
    font-family: 'Merriweather', serif; 
    font-size: 1.6em;
}
.small-device-contact {
    font-size: 1.2em;
    text-align-last: center;
}
.contact-modal-paragraph{
    font-size: 1.2em;
}
.contact-modal-header {
    font-size: 1.4em;
}
.ceremonial-music {
    font-family: 'Merriweather', serif; 
    font-size: 1.2em;   
}
.btn-ceremonial {
    background-color: white;
    border: none;
    height: 160px;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}
.btn-ceremonial:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.btn-ceremonial h4 {
    font-size: 1.4em;
}
.btn-contact {
    background-color: white;
    border: none;

}
.btn-contact:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    background-color: #2B2B2B;
    color: aliceblue;
}
/*
 colors 
2B2B2B - gray
rgb(18, 69,1) - green
*/